.App {
  background-color: white;
}

.container {
  display: flex;
  height: 100vh;
}

.cont {
  margin-left: 30%;
  margin-top: 10%;
  width: 100vh;
  height: 100vh;
  justify-content: center;
}

.require {
  color: #666;
}

label small {
  color: #999;
  font-weight: normal;
}

.login {
  display: flex;
}

.Auth-form {
  width: 500px;
  height: 100vh;
  /* box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px; */
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.btn {
  margin-left: 50px;
}

.Auth-form-content {
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}